<div class="card" *ngFor="let item of cutsTask">
    <div class="card-header">
      Corte
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Tarea</th>
                <th scope="col">Porcentaje</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of item">
                <td>{{task.name}}</td>
                <td>{{task.value}}</td>
                <td>{{task.created_at}}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-success">Crear tarea</button>
    </div>
  </div>


